.text-white {
    color: white !important;
}

.text-center {
    text-align: center !important;
}

.button-login {
	margin: 25px 0px;
}

.img-pendidikan {
    width: 60%;
    border: 15px solid #fff;
    box-shadow: 0px 0px 5px 1px #dedede;
    border-radius: 1%;
}

.img-1 {
    margin-left: 30%;
    margin-top: 20%;
}

.img-2 {
    position: absolute;
    z-index: -1;
}

.font-1 {
    color: #ff7f50;
    font-weight: 600;
    text-shadow: 3px 3px 8px #ffb498;
}

.font-2 {
    color: #bababa;
    font-weight: 600;
}

.font-3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    font-weight: 700;
    letter-spacing: 4px;
}

.font-4 {
    color: #bababa;
    font-weight: 400;
    line-height: 150%;
}

.font-5 {
    font-size: 24pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff7f50;
    font-weight: 700;
    letter-spacing: 4px;
}

.font-6 {
    font-size: 24pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0a9a10;
    font-weight: 700;
    letter-spacing: 4px;
}

.font-7 {
    font-size: 11pt;
}

.font-8 {
    font-size: 24pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #0a9a10;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 120%;
    text-shadow: 2px 2px 4px #9ff9a3;
}

.font-9 {
    font-size: 10pt;
    text-shadow: 2px 2px 4px #cfcfcf;
    font-weight: 700;
    /* line-height: 200%; */
}

.font-10 {
    font-size: 14pt;
    margin-top: 5px;
    font-weight: 500;
}

.font-10:hover {
    margin-left: 10px;
    font-weight: 600;
    transition: 1s ease;
    color: #0a9a10;
}

.font-11 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22pt;
    font-weight: 700;
    letter-spacing: 4px;
    color: #ff7f50;
    text-shadow: 1px 1px 3px #fff;
}

.font-red {
    text-align: center;
    color: #f84040;
    font-weight: 600;
    font-size: 12pt;
    line-height: 60px;
}

.font-green {
    text-align: center;
    color: #0a9a10;
    font-weight: 600;
    font-size: 12pt;
    line-height: 60px;
}

.font-grey {
    text-align: center;
    color: #464646;
    font-weight: 600;
    font-size: 12pt;
    line-height: 60px;
}

.font-judul-left {
    color: #ff7f50;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16pt;
    font-weight: 600;
}

.font-sub-left {
    color: #0a9a10;
    font-size: 12pt;
    font-weight: 500;
}

.kotak {
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px #ffb498;
    border-radius: 5%;
    color: #ababab;
    padding: 25px;
    margin: 15% 5%;
}

.kotak-2 {
    padding: 25px;
    border: 1px solid #e1e1e1;
    border-radius: 2%;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 5%;
}

.kotak-2:hover {
    border: 1px solid #ff7f50;
    transition: 1s ease;
}

.kotak-3 {
    width: 100%;
    max-width: 300px;
}

.logo-pu-red {
    font-size: 30pt;
    text-align: center;
    color: #f84040;
}

.logo-pu-green {
    font-size: 30pt;
    text-align: center;
    color: #0a9a10;
}

.logo-pu-grey {
    font-size: 30pt;
    text-align: center;
    color: #464646;
}

.logo-tl {
    background-color: #dcdcdc;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    text-align: center;
    margin-left: 34%;
    margin-right: 34%;
    font-size: 16pt;
    padding: 8%;
}

.logo-tl:hover {
    background: linear-gradient(45deg, rgba(254,255,114,1) 0%, rgba(255,226,0,1) 5%, rgba(255,154,0,1) 100%);
    color: #fff;
    transition: 1s ease;
}

.button {
    font-size: 10pt;
    font-weight: 500;
    padding: 10px;
    border-radius: 100px 10px;
}

.button-red {
    box-shadow: 1px 1px 3px 1px #dfdfdf;
    border: 1px solid #f06868;
    color: #fff;
    background-color: #f84040;
}

.button.button-red:hover {
    background-color: #de1818;
    color: black;
    margin-left: 10px;
    margin-top: 10px;
}

.button-green {
    box-shadow: 1px 1px 3px 1px #dfdfdf;
    border: 1px solid #29bd2f;
    color: black;
    background-color: #0a9a10;
}

.button.button-green:hover {
    background-color: #27d12e;
    color: #808080;
    margin-left: 10px;
    margin-top: 10px;
}

.button-grey {
    box-shadow: 1px 1px 3px 1px #dfdfdf;
    border: 1px solid #8f8f8f;
    color: #fff;
    background-color: #464646;
}

.button.button-grey:hover {
    background-color: #797979;
    color: #000;
    margin-left: 10px;
    margin-top: 10px;
}

.bg-card {
    background-color: #eaeaea;
}

.img-kesiswaan {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.side-left{
    width: 50%;
    float: left;
    margin: 5% 0px;
}

.side-right{
    width: 50%;
    float: right;
    padding: 3%;
    height: 300px;
    margin: 5% 0px;
    line-height: 150%;
}

.margin-b-1{
    margin-bottom: 10px;
}

.check-list {
    font-size: 18pt;
    color: #0a9a10;
    text-shadow: 2px 3px 2px #83e687;
    margin-right: 3%;
}

.box-left {
    float: left;
    width: 15%;
    color: #fff;
    height: 150px;
    background-color: #f84040;
    border-radius: 20% 0px 0px 20%;
    text-align: center;
    padding: 60px 0px;
    box-shadow: 0px 0px 2px 3px #ddd;
}

.box-right {
    float: right;
    width: 85%;
    height: 150px;
    color: #fff;
    padding: 15px;
    background-color: #ff7f50;
    border-radius: 0px 25px 25px 0px;
    box-shadow: 0px 0px 2px 3px #ddd;
}

.box-left-2 {
    float: left;
    width: 15%;
    color: #fff;
    height: 150px;
    background-color: #f84040;
    border-radius: 20% 0px 0px 20%;
    text-align: center;
    padding: 45px 0px;
    box-shadow: 0px 0px 2px 3px #ddd;
}

@media screen and (max-width: 990px) {
    .left-float {
        width: 50%;
        float: left;
        margin: 5% 0px;
    }

    .right-float {
        width: 50%;
        float: right;
        margin: 5% 0px;
    }
}

@media screen and (max-width: 460px) {
    .font-7{
        font-size: 9pt;
    }

    .side-right {
        line-height: 120%;
    }

    .left-float {
        width: 100%;
        float: none !important;
    }

    .right-float {
        width: 100%;
        float: none !important;
    }
}

