@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x");
  src: url("../fonts/icomoon/icomoon.eot?1z9v6x#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?1z9v6x") format("truetype"), url("../fonts/icomoon/icomoon.woff?1z9v6x") format("woff"), url("../fonts/icomoon/icomoon.svg?1z9v6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  background: #EFF0F4;
  color: #8b8e94;
  line-height: 28px;
  font-size: 15px;
  font-family: "Raleway", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #181920;
  line-height: 1.5;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 36px;
}

h5, h6 {
  font-size: 14px;
}

p, ul, ol {
  margin-bottom: 30px;
}

a {
  -webkit-transition: .3s all;
  transition: .3s all;
  color: #ff7f50;
}

a:hover, a:focus, a:active {
  color: #582aeb;
  text-decoration: none;
}

.hero-text-heading, .probootstrap-hero h1, .flexslider .probootstrap-heading {
  font-size: 52px;
  font-weight: 300;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 64px;
  color: white;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .hero-text-heading, .probootstrap-hero h1, .flexslider .probootstrap-heading {
    font-size: 40px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 480px) {
  .hero-text-heading, .probootstrap-hero h1, .flexslider .probootstrap-heading {
    font-size: 30px;
  }
}

.hero-text-subheading, .probootstrap-hero p, .flexslider .probootstrap-subheading {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
}

.hero-text-subheading:last-child, .probootstrap-hero p:last-child, .flexslider .probootstrap-subheading:last-child {
  margin-bottom: 0;
}

.probootstrap-page-wrapper {
  max-width: 1500px;
  margin: 0 auto;
  background: #ffffff;
}

@media screen and (max-width: 1500px) {
  .probootstrap-page-wrapper {
    max-width: 1200px;
  }
  .probootstrap-page-wrapper .container {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .probootstrap-page-wrapper {
    max-width: 960px;
  }
  .probootstrap-page-wrapper .container {
    max-width: 900px;
  }
}

.probootstrap-sidebar-inner {
  background: #ffffff;
  padding: 40px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.probootstrap-side-menu {
  padding: 0;
  margin: 0;
}

.probootstrap-side-menu li {
  padding: 0;
  margin: 0 0 20px 0;
  list-style: none;
  font-size: 16px;
}

.probootstrap-side-menu li.active {
  color: #000000;
}

.probootstrap-side-menu li.active a {
  color: #000000;
}

.probootstrap-header-top {
  margin-top: 0;
  position: relative;
  -webkit-transition: .3s all;
  transition: .3s all;
}

@media screen and (max-width: 768px) {
  .probootstrap-header-top {
    display: none;
  }
  .probootstrap-header-top.active {
    display: block;
  }
}

.probootstrap-header-top > .container {
  border-bottom: 1px solid #f2f2f2;
}

.probootstrap-top-quick-contact-info {
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 12px;
}

.probootstrap-top-quick-contact-info span {
  display: inline-block;
  margin-right: 20px;
}

.probootstrap-top-quick-contact-info span i {
  display: inline-block;
  margin-right: 10px;
  color: #49D292;
}

.probootstrap-top-social {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .probootstrap-top-social {
    text-align: left;
  }
}

.probootstrap-top-social ul {
  padding: 0;
  margin: 5px 0 0 0;
}

.probootstrap-top-social ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.probootstrap-top-social ul li a {
  display: inline-block;
  padding: 4px;
  color: #49D292;
}

.probootstrap-top-social ul li:last-child a {
  padding-right: 0;
}

.probootstrap-search-icon {
  margin-left: 30px;
}

.probootstrap-navbar {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0px;
  margin-bottom: 0px;
  background: #ffffff;
  -webkit-transition: .3s all;
  transition: .3s all;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar {
    background: white;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  }
}

.probootstrap-navbar .btn-more {
  position: absolute;
  right: 80px;
  top: 13px;
  z-index: 100;
}

@media screen and (max-width: 480px) {
  .probootstrap-navbar .btn-more {
    right: 70px;
  }
}

.probootstrap-navbar .btn-more a {
  color: #b3b2b2;
}

.probootstrap-navbar .btn-more a:hover {
  color: #1a1919;
}

.probootstrap-navbar .navbar-toggle:focus,
.probootstrap-navbar .navbar-toggle:hover {
  background-color: transparent;
}

.probootstrap-navbar .navbar-toggle {
  border: none;
}

.probootstrap-navbar .navbar-toggle span.icon-bar {
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}

.probootstrap-navbar .navbar-toggle span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.probootstrap-navbar .navbar-toggle span:nth-child(3) {
  opacity: 0;
}

.probootstrap-navbar .navbar-toggle span:nth-child(4) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}

.probootstrap-navbar .navbar-toggle.collapsed span:nth-child(2),
.probootstrap-navbar .navbar-toggle.collapsed span:nth-child(4) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.probootstrap-navbar .navbar-toggle.collapsed span:nth-child(3) {
  opacity: 1;
}

.probootstrap-navbar .parent-nav-link-padding, .probootstrap-navbar .navbar-brand, .probootstrap-navbar .navbar-nav > li > a {
  padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .parent-nav-link-padding, .probootstrap-navbar .navbar-brand, .probootstrap-navbar .navbar-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}

.probootstrap-navbar .dropdown-header {
  color: rgba(255, 255, 255, 0.2);
  padding-left: 10px;
  text-transform: uppercase;
}

.probootstrap-navbar .dropdown > a {
  padding-right: 10px !important;
  position: relative;
  display: block;
}

@media screen and (max-width: 480px) {
  .probootstrap-navbar .dropdown > a {
    display: block;
    padding-right: 0px;
  }
}

.probootstrap-navbar .dropdown > a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: -10px;
  margin-top: -11px;
  content: "\e924";
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s all;
  transition: .3s all;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .dropdown > a:before {
    color: rgba(0, 0, 0, 0.2);
  }
}

.probootstrap-navbar .dropdown > a:hover:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.probootstrap-navbar .dropdown.open > a, .probootstrap-navbar .dropdown:hover > a, .probootstrap-navbar .dropdown:focus > a, .probootstrap-navbar .dropdown:active > a {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.probootstrap-navbar .dropdown.open > a:before, .probootstrap-navbar .dropdown:hover > a:before, .probootstrap-navbar .dropdown:focus > a:before, .probootstrap-navbar .dropdown:active > a:before {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.probootstrap-navbar .dropdown > .dropdown-menu > li a {
  padding: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.probootstrap-navbar .dropdown > .dropdown-menu > li a:hover {
  border-top: none;
  background: #ffffff;
  color: #49D292;
}

.probootstrap-navbar .dropdown > .dropdown-menu > li.open > a, .probootstrap-navbar .dropdown > .dropdown-menu > li:hover > a, .probootstrap-navbar .dropdown > .dropdown-menu > li:focus > a, .probootstrap-navbar .dropdown > .dropdown-menu > li:active > a {
  border-top: none;
  color: #49D292;
  background: #ffffff;
}

.probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu.open > a, .probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu:hover > a, .probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu:focus > a, .probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu:active > a {
  border-top: none;
}

.probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu.open > a:before, .probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu:hover > a:before, .probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu:focus > a:before, .probootstrap-navbar .dropdown > .dropdown-menu > li.dropdown-submenu:active > a:before {
  color: #000000;
}

.probootstrap-navbar .dropdown > .dropdown-menu > li.active > a {
  color: #ffffff;
}

.probootstrap-navbar .navbar-right .dropdown-menu {
  right: auto;
}

.probootstrap-navbar .dropdown-menu {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #49D292;
  border-radius: 0;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.15);
  min-width: 200px;
  white-space: normal;
  word-wrap: break-word;
}

.probootstrap-navbar .dropdown-menu a {
  white-space: normal;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .dropdown-menu {
    width: 100%;
    padding: 10px 15px;
  }
  .probootstrap-navbar .dropdown-menu a {
    color: #ffffff;
  }
}

.probootstrap-navbar .navbar-brand {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-size: 30px;
  text-transform: uppercase;
  background: url(../images/logo-harapan-jaya.svg) no-repeat left 100%;
  top: 24px;
  position: relative;
  width: 160px;
  height: 43px;
  text-indent: -999999px;
  -webkit-transition: .2s all;
  transition: .2s all;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .navbar-brand {
    top: 5px !important;
    background-position: left 100%;
  }
}

@media screen and (max-width: 480px) {
  .probootstrap-navbar .navbar-brand {
    top: 6px !important;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .probootstrap-navbar .navbar-brand {
    position: relative;
    width: 160px;
    height: 43px;
    background: url(../images/logo-harapan-jaya2.svg) no-repeat left 100%;
    background-size: cover;
  }
}

.probootstrap-navbar .navbar-nav > li > a {
  color: black;
  font-size: 15px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgba(0, 0, 0, 0.7);
  }
}

.probootstrap-navbar .navbar-nav > li > a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.probootstrap-navbar .navbar-nav > li > a:hover, .probootstrap-navbar .navbar-nav > li > a:focus, .probootstrap-navbar .navbar-nav > li > a:active {
  color: rgba(0, 0, 0, 0.7);
}

.probootstrap-navbar .navbar-nav > li.open > a:hover, .probootstrap-navbar .navbar-nav > li.open > a:focus, .probootstrap-navbar .navbar-nav > li.open > a {
  background: none;
}

.probootstrap-navbar .navbar-nav > li.active > a {
  background: none !important;
  color: #49D292 !important;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .navbar-nav > li.active > a {
    color: rgba(0, 0, 0, 0.7) !important;
  }
}

.probootstrap-navbar .navbar-nav > li.active > a:active, .probootstrap-navbar .navbar-nav > li.active > a:focus, .probootstrap-navbar .navbar-nav > li.active > a:hover {
  background: none;
}

.probootstrap-navbar .navbar-nav > li > .dropdown-menu:before {
  border: 1px solid #49D292;
  content: "";
  position: absolute;
  top: -20px;
  left: 40px;
  border-color: rgba(73, 210, 146, 0);
  border-bottom-color: #49D292;
  border-width: 10px;
  margin-left: -10px;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .navbar-nav > li > .dropdown-menu:before {
    display: none;
  }
}

.probootstrap-navbar .navbar-nav .dropdown li.active > a {
  background: none;
}

.probootstrap-navbar .dropdown-submenu {
  position: relative;
}

.probootstrap-navbar .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.probootstrap-navbar .dropdown-submenu > a {
  display: block;
}

.probootstrap-navbar .dropdown-submenu > a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 10px;
  margin-top: -11px;
  content: "\e926";
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s all;
  transition: .3s all;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar .dropdown-submenu > a:before {
    color: rgba(0, 0, 0, 0.2);
  }
}

.probootstrap-navbar .dropdown-submenu > a:hover:before {
  color: rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

@media screen and (max-width: 480px) {
  .probootstrap-navbar .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}

.probootstrap-navbar.scrolled {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
}

.probootstrap-navbar.scrolled .parent-nav-link-padding, .probootstrap-navbar.scrolled .navbar-brand, .probootstrap-navbar.scrolled .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.probootstrap-navbar.scrolled .navbar-brand {
  top: 10px;
  background-position: left 100%;
}

.probootstrap-navbar.scrolled .dropdown > a:before {
  color: rgba(0, 0, 0, 0.4);
}

.probootstrap-navbar.scrolled .navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.7);
}

.probootstrap-navbar.scrolled .navbar-nav > li > a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

.probootstrap-navbar.scrolled .navbar-nav > li.active > a {
  color: black !important;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar.scrolled .navbar-nav > li.active > a {
    color: black !important;
  }
}

.container-fluid .navbar-brand {
  margin-left: 15px;
}

.container-fluid .dropdown-submenu {
  position: relative;
}

.container-fluid .dropdown-submenu .dropdown-menu {
  top: 0;
  left: auto;
  right: 100%;
  margin-top: -1px;
}

@media screen and (max-width: 480px) {
  .container-fluid .dropdown-submenu:hover > .dropdown-menu {
    display: block;
  }
}

.probootstrap-hero {
  background-size: cover;
  background-position: center center;
}

.probootstrap-hero > .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.probootstrap-hero > .container {
  position: relative;
  z-index: 2;
}

.probootstrap-hero .probootstrap-hero-text {
  padding-top: 200px;
  padding-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .probootstrap-hero .probootstrap-hero-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.probootstrap-hero.probootstrap-sm-hero .probootstrap-hero-text {
  padding-top: 150px;
  padding-bottom: 150px;
}

@media screen and (max-width: 768px) {
  .probootstrap-hero.probootstrap-sm-hero .probootstrap-hero-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.probootstrap-hero.probootstrap-xs-hero .probootstrap-hero-text {
  padding-top: 90px;
  padding-bottom: 90px;
}

@media screen and (max-width: 768px) {
  .probootstrap-hero.probootstrap-xs-hero .probootstrap-hero-text {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.probootstrap-hero .btn {
  position: relative;
  font-size: 18px;
  width: 200px;
}

@media screen and (max-width: 480px) {
  .probootstrap-hero .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

.probootstrap-hero .btn.btn-primary {
  text-transform: uppercase;
  padding: 15px 20px;
}

.probootstrap-hero.probootstrap-hero-colored {
  background: #ff7f50;
}

.probootstrap-hero.probootstrap-hero-colored h1 {
  color: white;
}

.probootstrap-hero.probootstrap-hero-colored p {
  color: rgba(255, 255, 255, 0.8);
}

.probootstrap-feature-showcase {
  margin-top: 100px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .probootstrap-feature-showcase {
    margin-top: 0px;
  }
}

.probootstrap-home-showcase-wrap {
  width: 100%;
}

.probootstrap-home-showcase-wrap .probootstrap-home-showcase-inner {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  z-index: 1;
  height: 500px;
  overflow: hidden;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 768px) {
  .probootstrap-home-showcase-wrap .probootstrap-home-showcase-inner {
    height: 100%;
  }
}

.probootstrap-home-showcase-wrap .probootstrap-home-showcase-inner .probootstrap-chrome {
  background: #dddde0;
  padding: 15px;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.probootstrap-home-showcase-wrap .probootstrap-home-showcase-inner .probootstrap-chrome > div {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -3px;
}

.probootstrap-home-showcase-wrap .probootstrap-home-showcase-inner .probootstrap-chrome > div > span {
  width: 5px;
  height: 5px;
  display: block;
  float: left;
  margin-right: 4px;
  background: #898991;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .probootstrap-home-showcase-wrap .probootstrap-image-showcase {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .probootstrap-home-showcase-wrap .probootstrap-image-showcase {
    height: 200px;
  }
}

.probootstrap-home-showcase-wrap .probootstrap-image-showcase > ul {
  padding: 0;
  margin: 0;
  position: relative;
}

.probootstrap-home-showcase-wrap .probootstrap-image-showcase > ul > li {
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.probootstrap-home-showcase-wrap .probootstrap-image-showcase > ul > li img {
  max-width: 100%;
}

.probootstrap-home-showcase-wrap .probootstrap-image-showcase > ul > li.active {
  opacity: 1;
  visibility: visible;
}

.probootstrap-showcase-nav {
  margin-top: 30px;
}

.probootstrap-showcase-nav ul {
  padding: 0;
  margin: 0;
}

.probootstrap-showcase-nav ul li {
  margin: 0 0 15px 0;
  padding: 0 0 0 20px;
  list-style: none;
}

.probootstrap-showcase-nav ul li > a {
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.probootstrap-showcase-nav ul li p {
  display: none;
}

.probootstrap-showcase-nav ul li.active {
  padding: 20px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
}

.probootstrap-showcase-nav ul li.active > a {
  color: #ff7f50;
  padding-left: 0px;
  display: block;
}

.probootstrap-showcase-nav ul li.active p {
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0;
}

.btn {
  border: none;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn:active {
  -webkit-transition: .2s all;
  transition: .2s all;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-lg {
  line-height: 1.5;
}

.btn.btn-primary {
  border: 1px solid #49D292;
  background: #49D292;
  color: #ffffff;
}

.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  background: #51d497;
}

.btn.btn-primary:focus, .btn.btn-primary:active {
  outline: none;
  border: 1px solid #49D292;
}

.btn.btn-ghost {
  background: transparent;
  border: 1px solid #49D292;
  color: #49D292;
}

.btn.btn-ghost:hover {
  background: #49D292;
  color: #ffffff;
}

.btn.btn-ghost:focus, .btn.btn-ghost:active {
  outline: none;
  background: transparent;
  color: #49D292;
  border: 1px solid #49D292;
}

.probootstrap-section {
  padding: 7em 0;
  position: relative;
}

.probootstrap-section.probootstrap-section-sm {
  padding: 3em 0;
}

.probootstrap-section.probootstrap-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section > .container.probootstrap-border-top {
  padding-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.probootstrap-section.probootstrap-section-colored {
  background: #ff7f50;
}

.probootstrap-section.probootstrap-section-colored .section-heading h2 {
  color: white;
}

.probootstrap-section.probootstrap-section-colored .section-heading p {
  color: rgba(255, 255, 255, 0.6);
}

.probootstrap-section.probootstrap-bg-white {
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .probootstrap-section {
    padding: 3em 0;
  }
}

.probootstrap-section.probootstrap-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.probootstrap-section.probootstrap-bg:before {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.section-heading {
  margin-bottom: 70px;
}

.section-heading h1 {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .section-heading h1 {
    font-size: 24px;
    line-height: 24px;
  }
}

.section-heading h2 {
  line-height: 40px;
  font-size: 40px;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 24px;
    line-height: 24px;
  }
}

@media screen and (max-width: 768px) {
  .section-heading p {
    font-size: 16px;
  }
}

.lead {
  font-size: 18px;
  line-height: 32px;
}

.probootstrap-cta {
  padding: 3em 0;
  background: #ff7f50;
  color: #ffffff;
}

.probootstrap-cta h2 {
  margin: 12px 0 0 0;
  padding: 0;
  color: #ffffff;
  float: left;
  line-height: 1.5;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .probootstrap-cta h2 {
    float: none;
    width: 100%;
    margin: 0px 0 0 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .probootstrap-cta h2 {
    text-align: center;
  }
}

.probootstrap-cta .btn {
  float: right;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .probootstrap-cta .btn {
    float: none;
    width: 100%;
    margin-top: 0px;
  }
}

.probootstrap-cta .btn.btn-ghost {
  width: 200px;
  border: 1px solid #ffffff;
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  .probootstrap-cta .btn.btn-ghost {
    width: 100%;
  }
}

.probootstrap-cta .btn.btn-ghost:hover {
  background: #ffffff;
  color: #ff7f50;
}

.probootstrap-footer {
  padding: 7em 0;
  padding-bottom: 0;
  background: #000000;
  color: rgba(255, 255, 255, 0.9);
}

.probootstrap-footer a {
  color: rgba(255, 255, 255, 0.6);
}

.probootstrap-footer a:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .probootstrap-footer {
    padding: 3em 0;
  }
}

.probootstrap-footer .probootstrap-copyright {
  padding: 3em 0;
  margin-top: 20px;
  background: #1a1919;
}

@media screen and (max-width: 768px) {
  .probootstrap-footer .probootstrap-copyright {
    margin-top: 0px;
  }
}

.probootstrap-footer .probootstrap-copyright p {
  line-height: 20px;
}

.probootstrap-footer .probootstrap-copyright p .icon {
  position: relative;
  top: 2px;
}

.probootstrap-footer .probootstrap-copyright p:last-child {
  margin-bottom: 0;
}

.probootstrap-footer .probootstrap-footer-widget {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.probootstrap-footer .probootstrap-footer-widget h3 {
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.probootstrap-footer .probootstrap-footer-widget ul {
  margin: 0;
  padding: 0 0 20px 0;
}

.probootstrap-footer .probootstrap-footer-widget ul li {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
}

.probootstrap-footer .probootstrap-footer-widget .probootstrap-contact-info li {
  display: block;
}

.probootstrap-footer .probootstrap-footer-widget .probootstrap-contact-info li i {
  display: table-cell;
  vertical-align: top;
  width: 40px;
  color: rgba(255, 255, 255, 0.3);
}

.probootstrap-footer .probootstrap-footer-widget .probootstrap-contact-info li span {
  vertical-align: top;
  display: table-cell;
}

.probootstrap-footer .probootstrap-back-to-top {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .probootstrap-footer .probootstrap-back-to-top {
    text-align: left;
    margin-top: 30px;
  }
}

.probootstrap-search {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  height: 100vh;
  width: 100vw;
  background: white;
  z-index: 9999;
  -webkit-transition: .3s all;
  transition: .3s all;
  opacity: 0;
  visibility: hidden;
}

.probootstrap-search.active {
  opacity: 1;
  visibility: visible;
}

.probootstrap-search .probootstrap-close {
  color: #b3b2b2;
  right: 30px;
  top: 30px;
  position: absolute;
  font-size: 28px;
}

@media screen and (max-width: 768px) {
  .probootstrap-search .probootstrap-close {
    right: 20px;
    top: 20px;
  }
}

.probootstrap-search .probootstrap-close:hover {
  color: #807f7f;
}

.probootstrap-search form {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  width: 70%;
}

@media screen and (max-width: 768px) {
  .probootstrap-search form {
    width: 80%;
  }
}

.probootstrap-search form input {
  color: #000000;
  width: 100%;
  font-size: 50px;
  height: 100px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0px !important;
}

@media screen and (max-width: 768px) {
  .probootstrap-search form input {
    font-size: 18px;
    height: 50px;
  }
}

.probootstrap-search form input:focus, .probootstrap-search form input:active {
  outline: none;
}

.probootstrap-uppercase {
  color: #b3b2b2;
  font-size: 14px;
  margin-bottom: 5px;
}

.probootstrap-footer-social {
  padding: 0;
  margin: 0;
}

.probootstrap-footer-social li {
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}

.probootstrap-footer-social li a {
  padding: 10px;
  font-size: 22px;
}

.probootstrap-footer-social li:first-child > a {
  padding-left: 0;
}

.probootstrap-teacher {
  padding: 20px;
  border: 1px solid #e6e5e5;
  -webkit-transition: .3s all;
  transition: .3s all;
  position: relative;
  top: 0;
  margin-bottom: 20px;
}

.probootstrap-teacher .media {
  margin-bottom: 20px;
}

.probootstrap-teacher .media img {
  border-radius: 50%;
  width: 90px;
  margin: 0 auto;
}

.probootstrap-teacher .text h3 {
  font-size: 20px;
  margin: 0 0 0px 0;
}

.probootstrap-teacher .text p {
  margin-bottom: 10px;
}

.probootstrap-teacher .probootstrap-footer-social li a {
  font-size: 15px;
}

.probootstrap-teacher .probootstrap-footer-social li.twitter a {
  color: #1da1f2;
}

.probootstrap-teacher .probootstrap-footer-social li.facebook a {
  color: #3b5998;
}

.probootstrap-teacher .probootstrap-footer-social li.instagram a {
  color: #e1306c;
}

.probootstrap-teacher .probootstrap-footer-social li.google-plus a {
  color: #dd4b39;
}

.probootstrap-teacher:focus, .probootstrap-teacher:hover {
  top: -10px;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.probootstrap-counter-wrap {
  float: left;
  width: 100%;
  margin-bottom: 30px;
}

.probootstrap-counter-wrap .probootstrap-icon,
.probootstrap-counter-wrap .probootstrap-text {
  display: table-cell;
  vertical-align: top;
}

.probootstrap-counter-wrap .probootstrap-icon {
  width: 60px;
}

.probootstrap-counter-wrap .probootstrap-icon i {
  font-size: 40px;
  color: #49D292;
}

.probootstrap-counter-wrap .probootstrap-text .probootstrap-counter {
  display: block;
  font-size: 40px;
  color: #000000;
  margin-bottom: 10px;
  font-family: "Open Sans", Arial, sans-serif;
}

.probootstrap-counter-wrap .probootstrap-text .probootstrap-counter-label {
  display: block;
  color: #b3b2b2;
  line-height: 20px;
}

.probootstrap-overlap {
  margin-top: -150px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .probootstrap-overlap {
    margin-top: -100px;
  }
}

.probootstrap-flex-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -200px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .probootstrap-flex-block {
    margin-top: -100px;
  }
}

.probootstrap-flex-block .probootstrap-text {
  width: 30%;
  margin-right: 20px;
  background: #ffffff;
  padding: 40px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .probootstrap-flex-block .probootstrap-text {
    width: 100%;
    margin-right: 0;
  }
}

.probootstrap-flex-block .probootstrap-text h3 {
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 20px;
}

.probootstrap-flex-block .probootstrap-text p:last-child {
  margin-bottom: 0;
}

.probootstrap-flex-block .probootstrap-image {
  width: 67%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 0px;
  position: relative;
}

.probootstrap-flex-block .probootstrap-image .btn-video {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.probootstrap-flex-block .probootstrap-image .btn-video i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 70px;
  color: white;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.probootstrap-flex-block .probootstrap-image .btn-video:before {
  -webkit-transition: .3s all;
  transition: .3s all;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.probootstrap-flex-block .probootstrap-image .btn-video:hover:before {
  background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .probootstrap-flex-block .probootstrap-image {
    width: 100%;
    height: 300px;
  }
}

@media screen and (max-width: 480px) {
  .probootstrap-flex-block .probootstrap-image {
    height: 200px;
  }
}

.nav-tabs.probootstrap-center, .nav-pills.probootstrap-center {
  text-align: center;
}

.nav-tabs.probootstrap-center > li, .nav-pills.probootstrap-center > li {
  float: none;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

@media screen and (max-width: 480px) {
  .nav-tabs.probootstrap-center > li, .nav-pills.probootstrap-center > li {
    width: 100%;
    display: block;
  }
}

.nav-tabs.probootstrap-tabs > li > a, .nav-pills.probootstrap-tabs > li > a {
  border-radius: 0px;
  padding: 20px 30px;
  background: #49D292;
  color: #ffffff;
  font-size: 16px;
  border: none !important;
}

@media screen and (max-width: 480px) {
  .nav-tabs.probootstrap-tabs > li > a, .nav-pills.probootstrap-tabs > li > a {
    width: 100%;
    display: block;
  }
}

.nav-tabs.probootstrap-tabs > li > a:hover, .nav-pills.probootstrap-tabs > li > a:hover {
  background: #35cd86;
}

.nav-tabs.probootstrap-tabs > li > a:active, .nav-tabs.probootstrap-tabs > li > a:focus, .nav-pills.probootstrap-tabs > li > a:active, .nav-pills.probootstrap-tabs > li > a:focus {
  outline: none;
}

.nav-tabs.probootstrap-tabs > li.active > a, .nav-pills.probootstrap-tabs > li.active > a {
  background: #ffffff;
  color: #000000;
}

.nav-tabs.probootstrap-tabs.no-border, .nav-pills.probootstrap-tabs.no-border {
  border-bottom: none;
}

@media screen and (max-width: 768px) {
  .probootstrap-tab-section {
    padding-bottom: 0 !important;
  }
}

.probootstrap-tab-style-1 {
  position: absolute;
  bottom: 1px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .probootstrap-tab-style-1 {
    position: relative;
  }
}

.probootstrap-date, .probootstrap-location {
  display: block;
  color: #666666;
}

.probootstrap-date i, .probootstrap-location i {
  color: #cccccc;
  position: relative;
  top: 2px;
  width: 30px;
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.probootstrap-featured-news-box .probootstrap-media {
  position: relative;
  z-index: 1;
}

.probootstrap-featured-news-box .probootstrap-text {
  position: relative;
  z-index: 2;
  background: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.05);
  margin-left: 10px;
  margin-right: 10px;
  top: -30px;
  -webkit-transition: .3s all;
  transition: .3s all;
  border-bottom: 3px solid #ff7f50;
}

.probootstrap-featured-news-box .probootstrap-text h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  line-height: 22px;
}

.probootstrap-featured-news-box .probootstrap-text p {
  color: #666666;
}

.probootstrap-featured-news-box:hover, .probootstrap-featured-news-box:focus {
  outline: none;
}

.probootstrap-featured-news-box:hover .probootstrap-text, .probootstrap-featured-news-box:focus .probootstrap-text {
  background: #ff7f50;
  top: -40px;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

.probootstrap-featured-news-box:hover .probootstrap-text h3, .probootstrap-featured-news-box:focus .probootstrap-text h3 {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: #ffffff;
}

.probootstrap-featured-news-box:hover .probootstrap-text p, .probootstrap-featured-news-box:focus .probootstrap-text p {
  color: rgba(255, 255, 255, 0.7);
}

.probootstrap-featured-news-box:hover .probootstrap-text .probootstrap-date, .probootstrap-featured-news-box:hover .probootstrap-text .probootstrap-location, .probootstrap-featured-news-box:focus .probootstrap-text .probootstrap-date, .probootstrap-featured-news-box:focus .probootstrap-text .probootstrap-location {
  color: rgba(255, 255, 255, 0.8);
}

.probootstrap-featured-news-box:hover .probootstrap-text .probootstrap-date i, .probootstrap-featured-news-box:hover .probootstrap-text .probootstrap-location i, .probootstrap-featured-news-box:focus .probootstrap-text .probootstrap-date i, .probootstrap-featured-news-box:focus .probootstrap-text .probootstrap-location i {
  color: rgba(255, 255, 255, 0.4);
}

.service {
  margin-bottom: 30px;
  float: left;
  width: 100%;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.service .icon {
  display: block;
  margin-bottom: 30px;
}

.service .icon i {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.2);
  color: #49D292;
}

.service h3 {
  font-size: 22px;
  margin-bottom: 20px;
}

.service p {
  font-size: 15px;
}

.service.left-icon {
  padding: 0px;
  border: none;
  margin-bottom: 20px !important;
}

.service.left-icon .icon, .service.left-icon .text {
  display: table-cell;
  vertical-align: top;
}

.service.left-icon .icon {
  width: 70px;
  position: relative;
  top: 20px;
}

.service.left-icon .icon i {
  font-size: 40px;
}

.service.left-icon .text {
  display: table-cell;
}

.service.left-icon h3 {
  font-size: 22px;
  margin-bottom: 0px;
}

.service.left-icon p {
  font-size: 14px;
}

.service.left-icon p:last-child {
  margin-bottom: 0;
}

.service.hover_service {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.service.hover_service:hover, .service.hover_service:focus {
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
}

.probootstrap-service-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.probootstrap-service-2 .image {
  width: 40%;
}

.probootstrap-service-2 .text {
  width: 60%;
}

@media screen and (max-width: 480px) {
  .probootstrap-service-2 .image, .probootstrap-service-2 .text {
    width: 100%;
  }
}

.probootstrap-service-2 .image {
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 480px) {
  .probootstrap-service-2 .image {
    width: 100%;
    height: 200px;
  }
}

.probootstrap-service-2 .image .image-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
}

.probootstrap-service-2 .image .image-bg img {
  min-width: 100%;
  min-height: 100%;
}

.probootstrap-service-2 .text {
  padding: 20px;
}

.probootstrap-service-2 .text h3 {
  font-size: 20px;
  margin: 0;
}

.probootstrap-service-2 .text p {
  margin-bottom: 20px;
}

.probootstrap-service-2 .text p:last-child {
  margin-bottom: 0;
}

.probootstrap-service-2 .text .probootstrap-meta {
  font-size: 14px;
  color: #b3b2b2;
}

.enrolled-count {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #b3b2b2;
  font-family: "Open Sans", Arial, sans-serif;
  font-style: italic;
}

.probootstrap-gallery {
  width: 100%;
  float: left;
}

.probootstrap-gallery figure {
  display: block;
  float: left;
  width: 32%;
  margin-right: 2%;
  float: left;
  margin-bottom: 20px;
}

.probootstrap-gallery figure:nth-of-type(3n+3) {
  margin-right: 0;
}

.probootstrap-gallery figure figcaption {
  display: none;
}

.probootstrap-gallery img {
  width: 100%;
  height: auto;
}

.probootstrap-gallery.four-col figure {
  width: 23.5%;
  margin-right: 2%;
  float: left;
}

.probootstrap-gallery.four-col figure:nth-of-type(4n+4) {
  margin-right: 0;
}

.probootstrap-gallery.three-col figure {
  width: 32%;
  margin-right: 2%;
  float: left;
}

.probootstrap-gallery.three-col figure:nth-of-type(3n+3) {
  margin-right: 0;
}

.probootstrap-gallery.two-col figure {
  width: 49%;
  margin-right: 2%;
  float: left;
}

.probootstrap-gallery.two-col figure:nth-of-type(2n+2) {
  margin-right: 0;
}

.grid-item {
  float: left;
}

.gutter-sizer {
  width: 2%;
}

.isotope .isotope-item {
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.grid-item,
.grid-sizer {
  margin-bottom: 0;
}

.grid-item img,
.grid-sizer img {
  max-width: 100%;
  margin-bottom: 0px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.two-cols .grid-item, .two-cols
.grid-sizer {
  width: 49%;
}

@media screen and (max-width: 768px) {
  .two-cols .grid-item, .two-cols
  .grid-sizer {
    width: 49%;
  }
}

@media screen and (max-width: 768px) and (max-width: 992px) {
  .two-cols .grid-item img, .two-cols
  .grid-sizer img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) and (max-width: 768px) {
  .two-cols .grid-item img, .two-cols
  .grid-sizer img {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .two-cols .grid-item, .two-cols
  .grid-sizer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.three-cols .grid-item, .three-cols
.grid-sizer {
  width: 32%;
}

@media screen and (max-width: 768px) {
  .three-cols .grid-item, .three-cols
  .grid-sizer {
    width: 48%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .three-cols .grid-item, .three-cols
  .grid-sizer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.four-cols .grid-item, .four-cols
.grid-sizer {
  width: 23.5%;
}

@media screen and (max-width: 768px) {
  .four-cols .grid-item, .four-cols
  .grid-sizer {
    width: 32%;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .four-cols .grid-item, .four-cols
  .grid-sizer {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.probootstrap-gallery-item {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  margin-bottom: 20px;
  cursor: pointer;
  position: relative;
}

.probootstrap-gallery-item img {
  max-width: 100%;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.probootstrap-gallery-item a {
  display: block;
  float: left;
  width: 100%;
}

.probootstrap-gallery-item:hover img {
  opacity: .7;
}

.probootstrap-form {
  margin-bottom: 50px;
}

.probootstrap-form label {
  font-weight: normal;
}

.probootstrap-form .form-control {
  height: 46px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.probootstrap-form .form-control:active, .probootstrap-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ff7f50;
}

.probootstrap-form textarea.form-control {
  height: inherit;
  resize: vertical;
}

.probootstrap-animate {
  opacity: 0;
  visibility: hidden;
}

.modal .modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  position: relative;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
}

.modal .modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  font-size: 26px;
}

@media screen and (max-width: 480px) {
  .modal .modal-content .close {
    top: 20px;
    right: 20px;
  }
}

.modal .probootstrap-modal-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.modal .probootstrap-modal-flex .probootstrap-modal-figure {
  width: 40%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 480px) {
  .modal .probootstrap-modal-flex .probootstrap-modal-figure {
    height: 200px;
  }
}

.modal .probootstrap-modal-flex .probootstrap-modal-content {
  width: 60%;
  padding: 40px;
  position: relative;
}

@media screen and (max-width: 480px) {
  .modal .probootstrap-modal-flex .probootstrap-modal-content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (max-width: 480px) {
  .modal .probootstrap-modal-flex .probootstrap-modal-figure,
  .modal .probootstrap-modal-flex .probootstrap-modal-content {
    width: 100%;
  }
}

.modal .probootstrap-modal-flex .form-control {
  height: 40px;
}

@media screen and (max-width: 480px) {
  .modal .probootstrap-modal-flex .btn {
    margin-bottom: 10px;
  }
}

.modal .probootstrap-modal-flex .probootstrap-remember {
  float: left;
}

.modal .probootstrap-modal-flex .probootstrap-forgot {
  float: right;
}

@media screen and (max-width: 480px) {
  .modal .probootstrap-modal-flex .probootstrap-forgot {
    float: left;
  }
}

.modal .probootstrap-modal-flex .form-group {
  position: relative;
}

.modal .probootstrap-modal-flex .probootstrap-or {
  padding: 10px 0;
  text-align: center;
  display: block;
  font-size: 11px;
  text-transform: uppercase;
}

.modal .probootstrap-modal-flex .probootstrap-or > span {
  display: block;
}

.modal .probootstrap-modal-flex .probootstrap-or > span:before {
  height: 1px;
  left: 0;
  right: 0;
  top: 50%;
  background: #ccc;
  width: 100%;
  content: "";
  position: absolute;
}

.modal .probootstrap-modal-flex .probootstrap-or em {
  color: #ccc;
  display: inline-block;
  background: #ffffff;
  position: relative;
  z-index: 2;
  padding: 0 4px;
  font-style: normal;
}

.modal .probootstrap-modal-flex .btn-connect-facebook {
  background: #3b5998;
  border-color: #3b5998;
  color: #ffffff;
}

.modal .probootstrap-modal-flex .btn-connect-twitter {
  background: #1da1f2;
  border-color: #1da1f2;
  color: #ffffff;
}

.modal .probootstrap-modal-flex .btn-connect-google {
  background: #ea4335;
  border-color: #ea4335;
  color: #ffffff;
}

.modal .vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
  pointer-events: none;
  /* This makes sure that we can still click outside of the modal to close it */
}

.modal .vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
  pointer-events: none;
}

.modal .modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
  pointer-events: all;
}

.probootstrap-contact-info {
  padding: 0;
  margin: 0 0 30px 0;
}

.probootstrap-contact-info li {
  padding: 0;
  margin: 20px 0 15px 0;
  list-style: none;
  line-height: 24px;
}

.probootstrap-contact-info li > i, .probootstrap-contact-info li > span {
  vertical-align: top;
  display: table-cell;
}

.probootstrap-contact-info li > i {
  font-size: 20px;
  position: relative;
  top: 2px;
  width: 30px;
}

.probootstrap-team {
  margin-bottom: 30px;
  float: left;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border-radius: 6px;
}

@media screen and (max-width: 480px) {
  .probootstrap-team {
    overflow: visible;
  }
  .probootstrap-team img {
    max-width: 100%;
  }
}

.probootstrap-team img {
  -webkit-transition: .3s all;
  transition: .3s all;
  -webkit-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
}

.probootstrap-team .probootstrap-team-info {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: .3s all;
  transition: .3s all;
  -webkit-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  text-align: center;
  margin-top: 20px;
  z-index: 3;
  display: block;
}

@media screen and (max-width: 480px) {
  .probootstrap-team .probootstrap-team-info {
    position: relative;
    top: inherit !important;
    margin-top: 0 !important;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.probootstrap-team .probootstrap-team-info h3 {
  color: white;
}

.probootstrap-team .probootstrap-team-info h3 .position {
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 480px) {
  .probootstrap-team .probootstrap-team-info h3 {
    color: rgba(0, 0, 0, 0.7);
  }
  .probootstrap-team .probootstrap-team-info h3 .position {
    display: block;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
  }
}

.probootstrap-team:before {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: .3s all;
  transition: .3s all;
  z-index: 1;
  border-radius: 5px;
}

.probootstrap-team:hover img, .probootstrap-team:focus img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.probootstrap-team:hover:before, .probootstrap-team:focus:before {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 480px) {
  .probootstrap-team:hover:before, .probootstrap-team:focus:before {
    display: none;
  }
}

.probootstrap-team:hover .probootstrap-team-info, .probootstrap-team:focus .probootstrap-team-info {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}

.probootstrap-flex-section {
  padding: 7em 0;
}

.probootstrap-flex-section.probootstrap-bg-white {
  background: #ffffff;
}

.probootstrap-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.probootstrap-flex .probootstrap-flex-item {
  width: 33.3333%;
  padding: 40px;
  -webkit-transition: .3s all;
  transition: .3s all;
  -webkit-transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  transition-timing-function: cubic-bezier(0.57, 0.21, 0.69, 1.25);
  z-index: 1;
  position: relative;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .probootstrap-flex .probootstrap-flex-item {
    padding: 30px;
  }
}

@media screen and (max-width: 480px) {
  .probootstrap-flex .probootstrap-flex-item {
    padding: 20px;
    margin-bottom: 20px;
  }
}

.probootstrap-flex .probootstrap-flex-item .service {
  margin-bottom: 0;
}

.probootstrap-flex .probootstrap-flex-item p:last-child {
  margin-bottom: 0;
}

.probootstrap-flex .probootstrap-flex-item.active, .probootstrap-flex .probootstrap-flex-item:hover, .probootstrap-flex .probootstrap-flex-item:focus {
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  z-index: 2;
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .probootstrap-flex .probootstrap-flex-item {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .probootstrap-flex .probootstrap-flex-item {
    width: 100%;
  }
}

.proboostrap-clients .client-logo {
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .proboostrap-clients .client-logo {
    margin-bottom: 30px;
  }
}

.probootstrap-pricing-wrap {
  position: relative;
}

.probootstrap-pricing {
  background: #ffffff;
  float: left;
  width: 100%;
  padding: 20px;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
  z-index: 2;
  margin-top: -200px;
}

@media screen and (max-width: 992px) {
  .probootstrap-pricing {
    margin-top: 0 !important;
    margin-bottom: 30px;
  }
}

.probootstrap-pricing.popular {
  z-index: 10;
  margin-top: -215px;
  padding-top: 40px;
}

@media screen and (max-width: 992px) {
  .probootstrap-pricing.popular {
    margin-top: 0 !important;
  }
}

.probootstrap-pricing h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .1em;
  margin-bottom: 50px;
}

.probootstrap-pricing h3 > span {
  margin-top: 10px;
  display: block;
  text-transform: none;
  letter-spacing: normal;
  color: #ff7f50;
  font-size: 14px;
}

.probootstrap-pricing .probootstrap-price-wrap {
  margin-bottom: 50px;
}

.probootstrap-pricing .probootstrap-price-wrap .probootstrap-price {
  font-size: 50px;
  color: #ff7f50;
  font-weight: 100;
  display: block;
  margin-bottom: 10px;
}

.probootstrap-pricing .probootstrap-price-wrap .probootstrap-price-per-month {
  font-size: 13px;
}

.probootstrap-pricing ul {
  padding: 0 30px;
  margin: 0 0 50px 0;
}

@media screen and (max-width: 480px) {
  .probootstrap-pricing ul {
    padding: 0 10px;
  }
}

.probootstrap-pricing ul li {
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 24px;
  list-style: none;
}

.probootstrap-testimony-wrap {
  background: #ffffff;
  border-radius: 4px;
  padding: 20px;
}

.probootstrap-testimony-wrap figure {
  margin-bottom: 20px;
}

.probootstrap-testimony-wrap figure img {
  height: 80px;
  width: 80px !important;
  margin: 0 auto;
  border-radius: 50%;
}

.probootstrap-testimony-wrap blockquote {
  border-left: none;
  padding: 0;
  margin-bottom: 0;
  color: #000000;
}

.probootstrap-testimony-wrap blockquote cite {
  margin-top: 30px;
  display: block;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

.probootstrap-testimony-wrap blockquote cite span {
  font-style: normal;
  color: #000000;
  font-weight: bold;
}

.owl-carousel-testimony .item {
  padding-bottom: 40px;
  padding-top: 20px;
}

.owl-carousel-testimony .probootstrap-testimony-wrap {
  max-width: 700px;
  margin: 0 auto;
}

/* Flexslider override style */
.slider-height, .flexslider, .flexslider .slides > li {
  height: 700px;
}

@media screen and (max-width: 480px) {
  .slider-height, .flexslider, .flexslider .slides > li {
    height: 400px;
  }
}

.flexslider {
  position: relative;
  z-index: 2;
  background: none;
  border: none;
  margin: 0 0 0;
}

.flexslider .probootstrap-subheading {
  font-size: 20px;
}

.flexslider .probootstrap-slider-text {
  margin-top: 300px;
}

@media screen and (max-width: 480px) {
  .flexslider .probootstrap-slider-text {
    margin-top: 150px;
  }
}

.flexslider .slides > li {
  background-size: cover;
  background-position: center center;
  background-repeat: none;
}

.flexslider .slides > li.overlay:before {
  content: "";
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flexslider .flex-control-paging {
  position: absolute;
  bottom: 30px;
  z-index: 20;
}

@media screen and (max-width: 480px) {
  .flexslider .flex-direction-nav {
    display: none;
  }
}

.flexslider .flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 0px;
  padding: 30px;
}

.flexslider .flex-direction-nav a:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  content: "\e929";
  -webkit-transition: .3s all;
  transition: .3s all;
  font-size: 30px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flexslider .flex-direction-nav a.flex-next:before {
  content: "\e92a";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.flex-direction-nav .flex-prev {
  left: 0px;
}

.flex-direction-nav .flex-next {
  right: 0px;
  text-align: right;
}

.flexslider:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 0px;
}

.flexslider:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}

.flexslider:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 0px;
}

.flex-control-paging li a {
  width: 10px;
  height: 10px;
  display: block;
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  border-radius: 50%;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(255, 255, 255, 0.7);
}

.flex-control-paging li a.flex-active {
  background: #000;
  background: white;
  cursor: default;
}

/* Owl carousel override style */
.owl-carousel {
  margin-bottom: 100px;
}

.owl-carousel.border-rounded .item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 9999;
  position: absolute;
  -webkit-transition: .2s all;
  transition: .2s all;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: 20px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: 20px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #000000;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 24px;
  background: rgba(0, 0, 0, 0.7) !important;
  padding: 12px;
  -webkit-transition: .5s all;
  transition: .5s all;
}

.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover i, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus i {
  background: rgba(0, 0, 0, 0.7) !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-work.owl-theme .owl-dots {
  bottom: -30px;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s all;
  transition: .2s all;
  border: 2px solid transparent;
}

.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #000000;
}

.probootstrap-testimonial:before {
  background: rgba(0, 0, 0, 0.7) !important;
}

.probootstrap-testimonial .section-heading p {
  color: rgba(255, 255, 255, 0.9) !important;
}

.probootstrap-testimonial .owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.2);
}

.probootstrap-testimonial .owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.probootstrap-testimonial .owl-theme .owl-dots .owl-dot.active span, .probootstrap-testimonial .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #ffffff;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.image-link {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/* This block of CSS adds opacity transition to background */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}

/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}

/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

/* aligns caption to center */
.mfp-title {
  text-align: center;
  padding: 6px 0;
}

.image-source-link {
  color: #DDD;
}

.probootstrap-gutter0 > div[class*='col-'] {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter0 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.probootstrap-gutter40 > div[class*='col-'] {
  padding-right: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter40 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.probootstrap-gutter60 > div[class*='col-'] {
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (max-width: 480px) {
  .probootstrap-gutter60 > div[class*='col-'] {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.mb0 {
  margin-bottom: 0px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.mb60 {
  margin-bottom: 60px;
}

.mb70 {
  margin-bottom: 70px;
}

.mb80 {
  margin-bottom: 80px;
}

.mb90 {
  margin-bottom: 90px;
}

.mb100 {
  margin-bottom: 100px;
}

.mt0 {
  margin-top: 0px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.mt50 {
  margin-top: 50px;
}

.mt60 {
  margin-top: 60px;
}

.mt70 {
  margin-top: 70px;
}

.mt80 {
  margin-top: 80px;
}

.mt90 {
  margin-top: 90px;
}

.mt100 {
  margin-top: 100px;
}

.pb0 {
  padding-bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .img-sm-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .img-xs-responsive {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}
